.home{

    width: 60%;
    margin: 0 auto;
    position: relative;
    
}

.titulo{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}
.child{

    position: relative;
    top: 90px;
}